<%- model_class = Event -%>

<% @events.each do |event| %>
  <h2><%= link_to event.name, event_path(event) %></h2>

  <p><%= link_to t('events.new.title'), new_event_path, :class => 'btn btn-primary' %></p>

  <dl class="dl-horizontal">
  <dt><%= model_class.human_attribute_name(:starts) %>:</dt>
  <dd><%=l event.starts, :format => :long %></dd>
  <% if ! event.ends.nil? %>
    <dt><%= model_class.human_attribute_name(:ends) %>:</dt>
    <dd><%=l event.ends,   :format => :long %></dd>
  <% end %>

  <% if ! event.venue.blank? %>
    <dt><%= model_class.human_attribute_name(:venue) %>:</dt>
    <dd><%= event.venue %></dd>
  <% end %>

  <dt><%=t 'activerecord.attributes.event.rsvp_type' %>:</dt>
  <dd><%=t event.rsvp_type, :scope => 'activerecord.models' %>.</dd>

  <% if ! event.max_attendees.blank? && event.max_attendees > 0 %>
    <dt><%=t 'activerecord.attributes.event.max_attendees' %>:</dt>
    <dd><%= event.max_attendees %></dd>
  <% end %>

  <dt><%=t 'activerecord.attributes.rsvp.answer', :count => event.count_rsvps  %></dt>
  <dd><%= event.count_rsvps %></dd>

  <% if event.count_rsvps > 0 %>

    <% event.count_rsvps_by_type.each do |answer, count| %>
      <dt><%=t answer, :scope => 'activerecord.values.rsvp.answer' %>:</dt>
      <dd><%= count %></dd>
    <% end %>
  <% end %>

  </dl>
  
    <p>
       <%= link_to t(:back), event_path(@event), :class => 'btn'  %>
       <%= link_to t(:edit),    edit_event_path(event),  :class => 'btn btn-mini' %>
       <%= link_to t(:manage),  admin_event_path(event), :class => 'btn btn-mini' %>
       <%= link_to t(:destroy), admin_event_path(event),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger' %>
    </p>
<% end %>
