<h2><%= t :sign_up %></h2>

<%= horizontal_form_for(resource, :as => resource_name, :url => registration_path(resource_name) ) do |f| %>

  <% if f.object.username_required? %>
    <%= f.text_field :username, :autofocus => true %>
  <% end %>
  <% if f.object.email_required? %>
    <%= f.email_field :email %>
  <% end %>
  <% if f.object.password_required? %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
  <% end %>
  <%= f.submit t :sign_up %>

<% end %>

<%= render "devise/shared/links" %>
