<div class="person" id="person_<%= person.id %>">

  <h3><%= person.nickname || person.email %></h3>

  <ul>
    <li><%= t :nickname %> <%= person.nickname %></li>
    <li><%= t :firstname %> <%= person.firstname %></li>
    <li><%= t :lastname %> <%= person.lastname %></li>
    <li><%= t :email %> <%= person.email %></li>
    <% if person.admin? then %><li><%= t :admin %></li><% end %>
  </ul>

  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_person_path(person), :class => 'btn' %>

</div>
