<div class="page-header">
  <h1><%= t :edit %> <%= t :user %></h1>
</div>

<%= horizontal_form_for(@person, :url => person_path(@person) ) do |f| %>

  <%= f.email_field :email, :autofocus => true %>
  <%= f.text_field  :nickname %>
  <%= f.text_field  :firstname %>
  <%= f.text_field  :lastname %>
  <%= f.check_box  :admin %>
  <%= f.submit t "update" %>
<% end %>

