  <div class="hero-unit">
    <h1><%= @event.name %> <small><%=l @event.starts, format: :short %></small></h1>

    <%=md  @event.description %>

    <%= render "rsvp" %>
    <p><%= 
           link_to_unless_current(t(:learn_more), event_path( @event )) do
             
           end
        %></p>
  </div>
