<%- model_class = Event -%>

<% if @event.nil? %>

  <div class="hero-unit">
    <h1>Nothing Planned</h1>
    <p>there are no event planned just now...</p>
    <p><%= link_to t('.new', :default => t("helpers.links.new")), new_event_path, class: 'btn btn-primary' %></p>
  </div>


<% else %>

  <div class="hero-unit">
    <h1><%= @event.name %> <%=l @event.starts, format: :short %></h1>
    <p><%= @event.description %></p>
    <p><%= link_to "Learn more", event_path( @event ), { class: "btn btn-primary btn-large" } %></p>
  </div>

  <% if @events.count > 0 %>

    <h2>Future Events</h2>

    <%= render "list" %>


    <%= link_to t('.new', :default => t("helpers.links.new")), new_event_path, :class => 'btn btn-primary' %>

  <% end # if @events %>

<% end # if @events.first %>

