<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Event:</strong>
  <%= @topic.event_id %>
</p>

<p>
  <strong>Suggested by:</strong>
  <%= @topic.suggested_by_id %>
</p>

<p>
  <strong>Presented by:</strong>
  <%= @topic.presented_by_id %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
