
    <% if (@event.topics.empty?) %>
      <dt><strong><%=t 'topics.none'%></strong></dt>
    <% else %>
      <dt><strong><%= model_class.human_attribute_name(:topics) %>:</strong></dt>
      <dd>
        <% @event.topics.each do |topic| %>
          <p><%= link_to topic.name.strip, topic %>  <small><%= topic.description %>
          <%= if topic.presented_by.present? then "(#{topic.presented_by.name})" end %> 
          </small></p>
        <% end %>
      </dd>
    <% end %>


<% if user_signed_in? %>
<%= link_to t('topic.new.suggest'), new_event_topic_path(@event), :class => 'btn'  %>
<% end %>
