<%- model_class = Learnery::Event -%>
<div class="head-slider"></div>
<% if @event.nil? %>

  <div class="hero-unit">
    <h1><%= t :nothing_planned %></h1>
    <p><%= t :not_right_now %></p>
    <% if user_signed_in? and current_user.admin? %>
      <p><%= link_to t(:new), new_event_path, class: 'btn btn-primary' %></p>
    <% end %>
  </div>


<% else %>
 <div class="hero-unit">
  <%= render "intro" %>
</div>
  <% if user_signed_in? and current_user.admin? %>
    <%= link_to t('events.new.title'), new_event_path, :class => 'btn btn-primary' %>
  <% end %>

  <% if @events.count > 0 %>

    <h2>Future Events</h2>

    <%= render "list" %>

  <% end # if @events %>

<% end # if @events.first %>

