<li class="divider-vertical"></li>
<% if user_signed_in? %>
  <li><%= link_to t(:logged_in_as, :user => current_user.user_info), edit_user_registration_path %></li>
  <li><%= link_to t(:log_out), destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to t(:sign_up), new_user_registration_path %></li>
  <li><%= link_to t(:login), new_user_session_path %></li>

  <% Learnery::Application.config.oauth_providers.each do | oauth_provider | %>
  <li><%= link_to t(:login_with, provider: oauth_provider), user_omniauth_authorize_path(oauth_provider) %></li>
  <% end %>

<% end %>

