
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to Learnery::Theme::SITE_NAME, root_path, class: "brand", title: Learnery::Theme::SITE_DESCRIPTION %>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <%= render "application_links" %>
              <%= render "site_links" %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
        </div><!--/span-->
        <div class="span7">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="span3">
        </div><!--/span-->
      </div><!--/row-->

      <div class="navbar navbar-fixed-bottom">
        <footer>
          <%= render "footer" %>
        </footer>
      </div>
    </div><!-- /container -->

